
@{
    ViewData["Title"] = "Login";
}

<h2>Keycloak ile Giriş Yap</h2>

<form asp-controller="Home" asp-action="Login" method="post">
    <button type="submit">Keycloak ile Giriş Yap</button>
</form>



